.messenger {
  background: #f3f3f3;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  border-radius: 30px;
}

.container {
  padding: 10px;
  
}
.content {
  background: #f3f3f3;
  border-radius: 30px;
}

.footer {
  grid-column-start: 2;
  background: #f3f3f3;
}